<!--
  Generated template for the TopicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{sectionInfo?.sectionTitle}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下来刷新数据"
                refreshingSpinner="circles"
                refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-card *ngFor="let topic of topicInfo?.mainReplyInfos;first as isFirst;index as i">

        <ion-card-header *ngIf="isFirst">
            {{topicInfo?.topicTitle}}
        </ion-card-header>

        <ion-item>
            <ion-avatar item-start>
                <img [src]="topic.replyUserHeader">
            </ion-avatar>
            <h2><span>{{topic.replyUserNickname}}</span><i float-right>{{topic.floor}}楼</i></h2>
            <p>{{topic.replyFormat}}</p>
        </ion-item>

        <ion-card-content [innerHtml]="topic.content">

        </ion-card-content>

        <ion-item text-center *ngIf="isFirst">
            <button ion-button icon-start outline round login-click="like()" >
                <ion-icon name="thumbs-up"></ion-icon>
               {{topic.praiseNum}}
            </button>
        </ion-item>


        <ion-item text-right *ngIf="!isFirst">
            <a icon-start>
                <ion-icon name="thumbs-up"></ion-icon>
                {{topic.praiseNum}}</a>
            <a icon-start>
                <ion-icon name="text"></ion-icon>
                {{topic.subReplyNum}}</a>
        </ion-item>

        <ion-item *ngIf="!isFirst&&topic.replyInfos&&topic.replyInfos.length>0">
            <ion-card>
                <ion-card-content>
                    <ion-item *ngFor="let subtopic of topic.replyInfos">
                        <p>
                            {{subtopic.replyUserNickname}}
                            <i style="color: deepskyblue">{{subtopic.mainReplyId!==subtopic.repliedId?'回复':':'}}</i>
                            <span [innerHtml]="subtopic.content"></span>
                        </p>
                        <p text-end> {{subtopic.replyFormat}}</p>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-item>

    </ion-card>



    <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  [enabled]="infiniteEnable">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
