page-section {
  .subsection {
    ion-card-header{
       padding: 7px;
       font-size: 0.6rem;
    }
    ion-col{
      padding: 0px;
      font-size: 0.4rem;
      button{
        padding: 0 0.5rem;
      }
    }
    ion-col[center]{
      padding-top: 10px;
    }
  }
}
